<%- include("reusable-layouts/head"); -%>

<div class="td-container">
  <div class="td-categories">
    <ul>
      <li>Home</li>
      <li>Work</li>
      <li>Other</li>
    </ul>
  </div>

  <div class="tds">
    <ul>
      <li>Code</li>
      <li>Review CSS Grids</li>
    </ul>
  </div>
</div>

<%- include("reusable-layouts/footer"); -%>
